mathematics-and-python/Answers/*
mathematics-and-python/Answers/
mathematics-and-python/Answers
.ipynb_checkpoints/*
.ipynb_checkpoints/
.ipynb_checkpoints
mathematics-and-python/.ipynb_checkpoints/*
mathematics-and-python/.ipynb_checkpoints/
mathematics-and-python/.ipynb_checkpoints
